/* Basic styles for layout */
*{
  margin: 0;
  pad: 0;
  box-sizing: content-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: bisque;
  background: url("https://i.pinimg.com/736x/63/87/74/6387743d256efa85de044e78a9fd8cfe.jpg") center center/cover;
  width: 1500px;
}

#image {
  display: none; /* Hide image by default */
  margin-top: 20px;
  /* width: 800px; */
}

.list{
  display: inline-flex;
  padding-right: 2em;
  padding-bottom: 1rem;
  border: 2px solid bisque;
  background-color: rgb(46, 40, 11);
  border-radius: 15px;
  color: bisque;
  font-size: 15px;
  
}



.head{
  border: 1px solid rgb(101, 86, 68);
  color: rgb(18, 41, 18);
  font-size: 100px;
  padding: 10px;
  background-color: beige;
  font-family: "Jolly Lodger", serif;
  font-weight: 400;
  font-style: normal;

}

.para{
  font-family: 15px;
  border: 2px solid burlywood;
  background-color: burlywood;

}

.box{
  height: 5em;
  width: 16em;
  padding: 1rem;
  border: 2px solid burlywood;
  background-color: burlywood;
  border-radius: 15px;
  margin-left: 37.5em;
  margin-top: 1em;
  margin-bottom: 20px;
}

.box1{
  height: 2em;
  width: 70em;
  border: 1px solid burlywood;
  background-color: burlywood;
  border-radius: 5px;
  margin-top: 1em;
  padding-bottom: 1em;
 margin-left: 12em;
 margin-bottom: 1em;
}
.sentence input{
  height: 3em;
  width: 10em;
   background-color: rgb(46, 40, 11);
    color: white;
   border-radius: 5px;
   border: 1px solid;
   margin: 2em;

}

.sentence input::placeholder{
  color: white;
  font-size: 15px;
  padding-left: 0.5em;
}

.sentence :hover{
  background-color:rgb(91, 79, 21);
}

.button{
height: 4em;
width: 6em;
background-color: burlywood;
font-size: 1em;
}

.button:hover{
  background-color: rgb(95, 73, 43);
}

.adjust{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8em;
  margin-top: 2em;

}

.list{
background: rgb(46, 40, 11);
color: #fff;
font-size: 1em;
padding-left: 2em ;
}

